body {
  background-color: #181f27;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #8762b0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  min-height: 150px;
  padding: 10px 0 0 0;
  flex-shrink: 0;
}

a {
  color: #fff;
}

.leftSide {
  display: flex;
  /* background-color: green; */
}

.rightSide {
  display: flex;
  /* background-color: aqua; */
}

.topBar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #343135;
  min-height: 45px;
}

nav .leftSide {
  align-items: center;
  padding-left: 20px;
}

.navButton {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  display: inline;
  font-size: 1em;
  margin: 0;
  padding: 0;
  margin: 0 10px;
}

.navButton:hover,
.navButton:focus {
  text-decoration: none;
}

main {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.codeContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.userCode {
  display: flex;
  flex: 1;
  z-index: 0;
}

.resultContainer {
  flex: 1;
  background-color: #20262e;
}

.resultContainer:empty {
  background-image: url('./img/run.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

#learnLink {
  font-size: 1em;
  margin-right: 10px;
  align-self: center;
}

.logo {
  align-self: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  padding: 0 20px 0 40px;
  font-size: 1.5em;
}

.inputTensorBtn .pb-button {
  padding: 0 !important;
  height: 32px !important;
}

.inputTensorBtn {
  width: 175px !important;
}

.inputTensors {
  display: flex;
  flex-direction: row;
}

.tensorBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.selectedBox {
  border: 1px solid white;
  padding: 4px;
}

/* Overlay styles */
.modal {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: 50%;
  right: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #343135;
  padding: 20px;
  border: 1px solid #6c448d;
  color: white;
  transition: 0.15s all linear;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8662b057;
}

.modalTop {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
}

.modalClose {
  font-size: 2em;
  margin-top: -10px;
}

.modalButton {
  background-color: #8662b0;
  color: white;
  padding: 8px;
  margin: 0px 0 0 20px;
  font-size: 0.5em;
  border-radius: 12px;
  font-weight: bold;
}

.modalButton:disabled {
  background-color: #181f27;
  color: #8662b0;
}

.shareBox {
  background-color: #20262e;
  border: 0;
  padding-left: 12px;
  font-size: 1.5em;
  max-width: 250px;
  color: white;
}

.errorBox {
  background-color: #e5677f;
}

.errorMessage {
  padding: 15px 10px;
  margin: 0;
  font-family: Courier, monospace, 'Courier New';
  transition: 0.15s all linear;
  font-size: 0.9em;
}

/* Bye bye when empty */
.errorMessage:empty {
  padding: 0;
  transition: 0.15s all linear;
}
