.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #8762b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: #fff;
}

.leftSide {
  display: flex;
  background-color: green;
}

.rightSide {
  background-color: aqua;
}

.topBar {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #343135;
}

main {
  display: flex;
  flex-direction: row;
}

.codeContainer {
  flex: 1;
  background-color: fuchsia;
}

.resultContainer {
  flex: 1;
  background-color: forestgreen;
}
